{% extends 'backend/response.twig' %}

{% block target %}.content-wrapper{% endblock %}

{% block html %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        {% block title %}{{ title }}<span class="font-weight-normal h6 ml-2 text-secondary">{{ description }}</span>{% endblock %}
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% block breadcrumb %}
                            {% for node in breadcrumbs %}
                                {% if node.path %}
                                    {% if loop.last %}
                                        <li class="breadcrumb-item active" data-menu="{{ node.path }}">{{ node.title }}</li>
                                    {% else %}
                                        <li class="breadcrumb-item" data-menu="{{ node.path }}"><a data-ajax href="{{ node.path }}">{{ node.title }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li class="breadcrumb-item">{{ node.title }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endblock %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postprocess %}
    toggleMenu();
{% endblock %}
