{% extends 'backend/response.twig' %}

{% block target %}.content-wrapper{% endblock %}

{% block html %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        {% block title %}{{ result.title }}<span class="h6 ml-2 text-secondary">{{ result.sub_title }}</span>{% endblock %}
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% block breadcrumb %}
                            {% for node in result.breadcrumb %}
                                {% if loop.last %}
                                    <li class="breadcrumb-item active">{{ node.title }}</li>
                                {% elseif node.path %}
                                    <li class="breadcrumb-item"><a data-ajax href="{{ node.path }}">{{ node.title }}</a></li>
                                {% else %}
                                    <li class="breadcrumb-item">{{ node.title }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endblock %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postprocess %}
    toggleMenu("{{ result.menu }}");
{% endblock %}
