{% if result.controls %}
    <div class="card">
        <div class="card-body p-1">
            {% for item in result.controls|sort((a, b) => a.ranking <=> b.ranking) %}
                {% if item.least is not null %}
                    <button class="btn {{ item.class }} m-1" data-ajax="{{ build(item.path, item.parameters) }}" data-least="{{ item.least }}"{% if item.least %} disabled{% endif %}>
                        <i class="{{ item.icon }}"></i>
                        {{ item.label ?: label(item.i18n) }}
                    </button>
                {% elseif item.upload %}
                    <span>
                        <input class="d-none" data-ajax="{{ build(item.path, item.parameters) }}" type="file">
                        <button class="btn {{ item.class }} m-1" data-upload="{{ item.upload }}" type="button">
                            <i class="{{ item.icon }}"></i>
                            {{ item.label ?: label(item.i18n) }}
                        </button>
                    </span>
                {% else %}
                    <a class="btn {{ item.class }} m-1" data-ajax href="{{ build(item.path, result.backward) }}">
                        <i class="{{ item.icon }}"></i>
                        {{ item.label ?: label(item.i18n) }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
