{% extends 'backend/content-wrapper.twig' %}

{% set breadcrumbs, conditions, description, formId, max, title = result.breadcrumbs, controller.conditions, result.sub_title, random(), 0, controller.menu().title %}

{% block header %}
    {% include 'backend/header.twig' %}
{% endblock %}

{% block content %}
    {% set selectable = false %}
    {% if result.controls %}
        <div class="card">
            <div class="card-body p-1">
                {% for item in result.controls|sort((a, b) => a.ranking <=> b.ranking) %}
                    {% if item.least is not null %}
                        {% set selectable = random() + 1 %}
                        <button class="btn {{ item.class }} m-1" data-ajax="{{ build(item.path, item.parameters) }}" data-least="{{ item.least }}"{% if item.least %} disabled{% endif %}>
                            <i class="{{ item.icon }}"></i>
                            {{ item.label }}
                        </button>
                    {% else %}
                        <a class="btn {{ item.class }} m-1" data-ajax href="{{ build(item.path, result.backward) }}">
                            <i class="{{ item.icon }}"></i>
                            {{ item.label }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if result.filters %}
        <div class="card">
            <div class="card-body p-0" id="_{{ formId }}">
                <div class="form-group pt-2 m-0 row">
                    {% for input in result.filters %}
                        <div class="col-12 {{ input.search == 'between' ? 'col-md-8 col-lg-8 col-xl-6' : 'col-md-4 col-lg-4 col-xl-3' }} d-flex">
                            <label class="col-form-label ml-1 mr-3 text-nowrap">
                                {{ input.label }}
                            </label>
                            <div class="flex-grow-1 ml-1">
                                <div class="row">
                                    {% if input.search == 'between' %}
                                        {% set classes = input.type == 'timestame' ? 'col-12 col-sm-6' : 'col' %}
                                        <div class="{{ classes }} mb-2 pl-0">
                                            {% include 'backend/component/' ~ input.type ~ '.twig' with {data: conditions, style: input} only %}
                                        </div>
                                        {% set input = input|merge({name: '-' ~ input.name}) %}
                                        <div class="{{ classes }} mb-2 pl-0">
                                            {% include 'backend/component/' ~ input.type ~ '.twig' with {data: conditions, style: input} only %}
                                        </div>
                                    {% else %}
                                        <div class="col mb-2 pl-0">
                                            {% include 'backend/component/' ~ input.type ~ '.twig' with {data: conditions, style: input} only %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer p-2 text-right">
                <button class="btn btn-default" data-form="#_{{ formId }}" data-search>{{ i18n('backend.search') }}</button>
            </div>
        </div>
    {% endif %}
    {% if result.data is not null %}
        <div class="card">
            {% block content_title %}{% endblock %}
            {% block content_filter %}
                <div class="card-body p-0">
                    <div class="d-xl-flex mx-2">
                        <div class="mt-2">
                            {% if result.groups %}
                                <div class="btn-group mr-1">
                                    <button type="button" class="btn btn-default">{{ i18n('options/list-group.' ~ form.g|default(0)) }}</button>
                                    <button type="button" class="btn btn-default dropdown-icon dropdown-toggle" data-toggle="dropdown"></button>
                                    <div class="dropdown-menu">
                                        {% for group in result.groups %}
                                            {% set path = build(result.path, result.parameters, {g: group ?: null}) %}
                                            <a class="dropdown-item" data-ajax href="{{ path }}">{{ i18n('options/list-group.' ~ group) }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="mt-2">
                            {% if result.simple_filters %}
                                <div class="d-flex" id="_{{ formId }}">
                                    <div class="mr-1">
                                        <select class="form-control select2bs4" data-search style="min-width:10rem;">
                                            {% for input in result.simple_filters %}
                                                <option value="{{ input.name }}"{% if input.selected %} selected{% endif %}>{{ input.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row ml-0 mr-1" style="width:24rem;">
                                        {% for input in result.simple_filters %}
                                            {% if input.search == 'between' %}
                                                <div class="{% if not input.selected %}d-none{% endif %} col-12 col-md mr-1 p-0" data-name="{{ input.name }}">
                                                    {% include 'backend/component/' ~ input.type ~ '.twig' with {data: conditions, style: input} only %}
                                                </div>
                                                <div class="{% if not input.selected %}d-none{% endif %} col-12 col-md mt-1 mt-md-0 p-0" data-name="{{ input.name }}">
                                                    {% set input = input|merge({name: '-' ~ input.name}) %}
                                                    {% include 'backend/component/' ~ input.type ~ '.twig' with {data: conditions, style: input} only %}
                                                </div>
                                            {% else %}
                                                <div class="{% if not input.selected %}d-none{% endif %} col p-0" data-name="{{ input.name }}">
                                                    {% include 'backend/component/' ~ input.type ~ '.twig' with {data: conditions, style: input} only %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <button class="btn btn-default" data-form="#_{{ formId }}" data-search title="{{ i18n('backend.search') }}">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block content_body %}
                <div class="card-body p-2">
                    {% set actions = result.actions|sort((a, b) => a.ranking <=> b.ranking) %}
                    <table class="table table-hover table-responsive table-striped" id="_{{ formId }}_table">
                        <thead>
                            <tr>
                                <th class="w-1">#</th>
                                {% if selectable %}
                                    <th class="w-1">
                                        <div class="d-inline icheck-primary">
                                            <input data-all id="_{{ selectable }}" type="checkbox"><label for="_{{ selectable }}"></label>
                                        </div>
                                    </th>
                                {% endif %}
                                {% if actions %}
                                    <th class="w-1">{{ i18n('backend.operation') }}</th>
                                {% endif %}
                                {% for style in result.styles %}
                                    <th>
                                        {% if style.unordered %}
                                            {{ style.label }}
                                        {% else %}
                                            {% if not result.orders[style.name] %}
                                                {% set icon, order = 'fas fa-sort', style.name %}
                                            {% elseif result.orders[style.name] > 0 %}
                                                {% set icon, order = 'fas fa-sort-up', '-' ~ style.name %}
                                            {% else %}
                                                {% set icon, order = 'fas fa-sort-down', null %}
                                            {% endif %}
                                            <a data-ajax href="{{ build(result.path, result.parameters, {o: order}) }}">{{ style.label }}<i class="{{ icon }} ml-2"></i></a>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% set num, total = (result.page - 1) * result.size, {} %}
                            {% for data in result.data %}
                                <tr>
                                    <td>{{ num + loop.index }}</td>
                                    {% if selectable %}
                                        <td>
                                            <div class="d-inline icheck-primary">
                                                <input data-id="{{ data.id }}" id="_{{ selectable }}_{{ data.id }}" type="checkbox"><label for="_{{ selectable }}_{{ data.id }}"></label>
                                            </div>
                                        </td>
                                    {% endif %}
                                    {% if actions %}
                                        <td>
                                            {% for action in actions %}
                                                {% if action.method %}
                                                    <button class="btn {{ action.class }}" data-ajax="{{ controller.node }}/{{ action.method }}/{{ data.id }}" title="{{ action.label }}">
                                                        <i class="{{ action.icon }}"></i>
                                                    </button>
                                                {% else %}
                                                    <a class="btn {{ action.class }}" data-ajax href="{{ build(controller.node ~ '/' ~ data.id, result.backward) }}" title="{{ action.label }}">
                                                        <i class="{{ action.icon }}"></i>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                    {% for style in result.styles %}
                                        {% if style.column.subTotal and data[style.name] %}
                                            {% set total = total|merge({(style.name): total[style.name] + data[style.name]}) %}
                                        {% endif %}
                                        <td data-column="{{ style.name }}">
                                            {% include 'backend/component/' ~ style.type ~ '.twig' with {controller: controller, data: data, grid: true, style: style} only %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            {% block subtotal %}
                                {% if total %}
                                    <tr>
                                        <td class="text-center" colspan="{{ (actions ? 2 : 1) + (selectable ? 1 : 0) }}">{{ i18n('backend.subtotal') }}</td>
                                        {% for style in result.styles %}
                                            <td>{{ total[style.name] }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endblock %}
                            {% if not result.data %}
                                <tr><td class="text-center" colspan="{{ result.styles|length + (actions ? 2 : 1) + (selectable ? 1 : 0) }}">{{ i18n('error.DataNotFound') }}</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {% if result.buttons %}
                    <div class="card-body p-2 text-center">
                        {% for button in result.buttons|sort((a, b) => a.ranking <=> b.ranking) %}
                            <button class="btn {{ button.class }}" data-ajax="{{ result.path }}/{{ button.method }}" data-form="#_{{ formId }}_table">{{ button.label }}</button>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
            {% block content_pager %}
                {% if result.count %}
                    {% set max = (result.count / result.size)|round(0, 'ceil') %}
                    <div class="card-footer">
                        <div class="float-left my-2 text-muted">
                            {{ include(template_from_string(i18n('backend.list.rows'))) }}
                        </div>
                        <div class="float-right">
                            {% if result.count > result.size and result.size > 0 %}
                                <ul class="mb-0 pagination">
                                    {% set from, to = result.page - 2, result.page + 2 %}
                                    {% if from > 1 %}
                                        {{ _self.pager(result, 1 - result.page, '&laquo;') }}
                                    {% endif %}
                                    {% for num in from..to %}
                                        {% if 1 <= num and num <= max %}
                                            {{ _self.pager(result, num - result.page) }}
                                        {% endif %}
                                    {% endfor %}
                                    {% if to < max %}
                                        {{ _self.pager(result, max - result.page, '&raquo;') }}
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block postprocess %}
    {{ parent() }}

    initForm($("#_{{ formId }}, #_{{ formId }}_table"));
{% endblock %}

{% block page %}
    <select name="p">
        {% for page in 1..max %}
            <option{% if result.page == page %} selected{% endif %} value="{{ page }}">{{ page }}</option>
        {% endfor %}
    </select>
    / {{ max }}
{% endblock %}

{% block page_size %}
    {% set sizes = [10, 20, 30, 50, 100] %}
    {% if result.size not in sizes %}
        {% set sizes = sizes|merge([result.size])|sort %}
    {% endif %}
    <select data-reaction="user/change-page-size" name="s">
        {% for size in sizes %}
            <option{% if result.size == size %} selected{% endif %} value="{{ size }}">{{ size }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% macro pager(data, diff, label) %}
    {% set page = data.page + diff %}
    {% if page == 1 %}
        {% set path = build(data.path, data.parameters, null, ['p']) %}
    {% else %}
        {% set path = build(data.path, data.parameters, {p: page}) %}
    {% endif %}
    <li class="page-item{% if not diff %} active{% endif %}"><a class="page-link px-2" data-ajax href="{{ path }}">{{ label|default(page)|raw }}</a></li>
{% endmacro %}
