{% extends 'backend/content-wrapper.twig' %}

{% set breadcrumbs, data, description, formId, title = result.breadcrumbs, result.data, result.sub_title, random(), controller.menu().title %}

{% block header %}
    {% include 'backend/header.twig' %}
{% endblock %}

{% block content %}
    <div class="card card-tabs">
        <div class="card-body form-wrapper" id="_{{ formId }}">
            {% include 'backend/form-input.twig' %}
            <input name="r" type="hidden" value="{{ form.r }}">
        </div>
        {% if result.buttons %}
            <div class="card-footer text-right">
            {% for button in result.buttons | sort((a, b) => a.ranking <=> b.ranking) %}
                {% if button.method == 'cancel' %}
                    <button class="btn {{ button.class }}" data-backward="{{ form.r }}">{{ button.label }}</button>
                {% else %}
                    <button class="btn {{ button.class }}" data-ajax="{{ result.path }}/{{ button.method }}{% if data.id %}/{{ data.id }}{% endif %}" data-form="#_{{ formId }}">{{ button.label }}</button>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postprocess %}
    {{ parent() }}

    initForm($("#_{{ formId }}"));
{% endblock %}
