{% extends 'backend/content-wrapper.twig' %}

{% set breadcrumbs, data, description, formId, tabs, title = result.breadcrumbs, result.data, result.sub_title, random(), [], controller.menu().title %}

{% block header %}
    {% include 'backend/header.twig' %}
{% endblock %}

{% block content %}
    {% for style in result.styles %}
        {% if style.tab and style.tab not in tabs %}
            {% set tabs = tabs|merge([style.tab]) %}
        {% endif %}
    {% endfor %}
    <div class="card card-outline card-outline-tabs card-primary">
        {% if tabs %}
            <div class="border-bottom-0 card-header p-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="active nav-link" data-toggle="tab" href="#default-tab">{{ i18n('backend.tab.default') }}</a></li>
                    {% for tab in tabs %}
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#{{ tab }}-tab">{{ i18n('backend.tab.' ~ tab) }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-body form-wrapper" id="_{{ formId }}">
            <div class="tab-content">
                <div class="active fade show tab-pane" id="default-tab">
                    {% include 'backend/form-input.twig' %}
                </div>
                {% for tab in tabs %}
                    <div class="fade show tab-pane" id="{{ tab }}-tab">
                        {% include 'backend/form-input.twig' with {tab: tab} %}
                    </div>
                {% endfor %}
            </div>
            <input name="r" type="hidden" value="{{ form.r }}">
        </div>
        {% if result.buttons %}
            <div class="card-footer text-right">
            {% for button in result.buttons|sort((a, b) => a.ranking <=> b.ranking) %}
                {% if button.method == 'cancel' %}
                    <button class="btn {{ button.class }}" data-backward="{{ form.r }}">{{ button.label }}</button>
                {% else %}
                    <button class="btn {{ button.class }}" data-ajax="{{ result.path }}/{{ button.method }}{% if data.id %}/{{ data.id }}{% endif %}" data-form="#_{{ formId }}">{{ button.label }}</button>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postprocess %}
    {{ parent() }}

    initForm($("#_{{ formId }}"));
{% endblock %}
