<div class="d-flex{{ position == 2 ? ' flex-column-reverse flex-md-row-reverse' : '' }} no-gutters row">
    <div class="col col-md-{{ weight == 2 ? 4 : 6 }} p-{{ iPadding }}" style="{{ iBgColor ? ('background-color:' ~ iBgColor ~ ';') : '' }}">
        <img class="d-block mx-auto" src="{{ image|img }}">
    </div>
    <div class="col col-md-{{ weight == 2 ? 8 : 6 }} p-{{ aPadding }}" style="{{ aBgColor ? ('background-color:' ~ aBgColor ~ ';') : '' }}">
        {{ content|raw }}
    </div>
</div>
