{% if items|length > 1 %}
    {% set column = 'col-12 col-md-6' %}
{% else %}
    {% set column = 'col-12' %}
{% endif %}
<div class="no-gutters pt-{{ innerSpacingY }} row">
    {% for item in items %}
        <div class="{{ column }} mb-{{ innerSpacingY }} py-0">
            <div class="border-0 card">
                <img class="card-img rounded-0" src="{{ item.image|img }}">
                <div class="align-items-{{ item.alignItems }} card-img-overlay d-flex justify-content-{{ item.justifyContent }}">
                    {% set color = item.color ? ('color:' ~ item.color ~ ';') : '' %}
                    <div style="{{ color }}">
                        {{ item.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
