<div class="row">
    {% set bg = image ? ('background-image:url(' ~ image|img ~ ');') : '' %}
    <div class="col py-5 text-center" style="{{ bg }}">
        {% if title %}
            {% set color = titleColor ? ('color:' ~ titleColor ~ ';') : '' %}
            <h1 class="display-4" style="{{ color }}">{{ title }}</h1>
        {% endif %}
        {% if content %}
            {% set color = contentColor ? ('color:' ~ contentColor ~ ';') : '' %}
            <p class="lead text-center" style="{{ color }}">{{ content }}</p>
        {% endif %}
        {% if button and path %}
            {% set bg = buttonBgColor ? ('background-color:' ~ buttonBgColor ~ ';') : '' %}
            {% set color = buttonColor ? ('color:' ~ buttonColor ~ ';') : '' %}
            <a class="btn btn-primary" href="{{ path }}" style="border:0;{{ bg }}{{ color }}">{{ button }}</a>
        {% endif %}
    </div>
</div>
