<div class="d-flex no-gutters row">
    <div class="col-12 col-md-{{ weight == 2 ? 4 : (weight == 3 ? 8 : 6) }} order-2 p-{{ vPadding }}" style="{{ vBgColor ? ('background-color:' ~ vBgColor ~ ';') : '' }}">
        <div class="embed-responsive embed-responsive-{{ ratio }}">
            <iframe allow="autoplay" allowfullscreen class="embed-responsive-item" src="{{ video|video(platform, autoplay, controls)|raw }}"></iframe>
        </div>
    </div>
    <div class="col-12 col-md-{{ weight == 2 ? 8 : (weight == 3 ? 4 : 6) }} order-{{ position }} p-{{ aPadding }}" style="{{ aBgColor ? ('background-color:' ~ aBgColor ~ ';') : '' }}">
        {{ content|raw }}
    </div>
</div>
