{% if style.readonly %}
    <div class="py-2"><a href="mailto:{{ data[style.name] }}" target="_blank">{{ data[style.name] }}</a></div>
{% else %}
    <input class="{{ class }}" name="{{ style.name }}" placeholder="{{ style.placeholder }}" type="email" value="{{ data[style.name] }}">
{% endif %}
