<div>
    <span class="file-preview">
        {% if data[style.name] %}
            <a data-gallery="gallery" data-title="{{ data['.title'] }}" data-toggle="lightbox" data-type="image" href="{{ data[style.name]|img }}">
                <img class="border shadow" src="{{ data[style.name]|img }}">
            </a>
        {% endif %}
    </span>
    {% if not style.readonly %}
        <label class="align-top">
            <input data-error="{{ i18n('error.InvalidFileType') }}" data-image name="{{ style.name }}" type="hidden" value="{{ data[style.name] }}">
            {% if not style.disabled %}
                <input data-filename name="{{ style.name }}#filename" type="hidden">
                <input accept="image/*" class="d-none" data-format="image" type="file">
                <a class="btn btn-default btn-lg" title="{{ i18n('backend.browser') }}"><i class="far fa-file-image"></i></a>
            {% endif %}
        </label>
    {% endif %}
</div>
