{% if style.readonly %}
    <div class="py-2 text-right">{{ data[style.name] }}</div>
{% else %}
    <input class="{{ class }}"{% if style.disabled %} disabled{% endif %} name="{{ style.name }}" placeholder="{{ style.placeholder }}" type="number" value="{{ data[style.name] }}">
{% endif %}
