{% set value = string(data[style.name]) %}
{% if style.readonly %}
    <div class="py-2">{{ style.options[value] }}</div>
{% else %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <select class="{{ class }} select2bs4"{% if style.column.reaction %} data-reaction="{{ style.column.reaction }}"{% endif %}{% if style.disabled %} disabled{% endif %}{% if style.multiple %} multiple{% endif %} name="{{ style.name }}" style="width: 100%;">
                {% if not style.required or value is null %}
                    <option value="">&nbsp;</option>
                {% endif %}
                {% if style.multiple %}
                    {% set values = value|split(',') %}
                {% elseif value is not null %}
                    {% set values = [value] %}
                {% endif %}
                {% for name, item in style.options %}
                    <option{% if name in values %} selected{% endif %} value="{{ name }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        {% if style.column.operators and style.relation %}
            <div class="ml-1 operators">
                {% set path = style.column.path|default(style.relation.alias) %}
                <button class="btn btn-default" data-ajax="{{ path }}/new" data-args="modal" title="{{ i18n('backend.new') }}"><i class="fas fa-plus"></i></button>
            </div>
        {% endif %}
    </div>
{% endif %}
