{% if style.readonly %}
    <div class="py-2"><a href="{{ data[style.name] }}" target="_blank">{{ data[style.name] }}</a></div>
{% else %}
    <input class="{{ class }}" name="{{ style.name }}" placeholder="{{ style.placeholder }}" type="url" value="{{ data[style.name] }}">
{% endif %}
