{% extends 'backend/response.twig' %}

{% set formId = random() %}

{% block target %}.modal-wrapper{% endblock %}

{% block html %}
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ i18n('backend.password') }}</h4>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="_{{ formId }}">
                        <div class="form-group">
                            <label>
                                <span class="text-danger">*</span>
                                {{ i18n('backend-login.current.password') }}
                            </label>
                            <span class="invalid-feedback" data-name="current"></span>
                            <input class="form-control" name="current" type="password">
                        </div>
                        <div class="form-group">
                            <label>
                                <span class="text-danger">*</span>
                                {{ i18n('backend-login.new.password') }}
                            </label>
                            <span class="invalid-feedback" data-name="password"></span>
                            <input class="form-control" name="password" type="password">
                        </div>
                        <div class="form-group">
                            <label>
                                <span class="text-danger">*</span>
                                {{ i18n('backend-login.confirm.new.password') }}
                            </label>
                            <span class="invalid-feedback" data-name="confirm"></span>
                            <input class="form-control" name="confirm" type="password">
                        </div>
                    </div>
                </div>
                <div class="justify-content-between modal-footer">
                    <button class="btn {{ cfg('backend.edit.cancel.button') }}" data-dismiss="modal">{{ i18n('backend.edit.cancel') }}</button>
                    <button class="btn {{ cfg('backend.edit.button') }}" data-ajax="user/reset-password" data-form="#_{{ formId }}">{{ i18n('backend.edit.submit') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postprocess %}
    var modal = $(".modal-wrapper .modal").modal();

    modal.on("hidden.bs.modal", function () {
        modal.remove();
    });

    modal.find("input[name=current]").focus();
{% endblock %}
