{% extends 'page-layout.twig' %}

{% block title %}{{ i18n('app.title') }} | {{ i18n('app.login.title') }}{% endblock %}

{% block content %}
                        <p class="login-box-msg">
                            {{ label('app.login.message') }}
                        </p>
                        <form>
                            {%~ block form %}{% endblock %}
                            <div class="input-group mb-3">
                                <input class="form-control" name="password" placeholder="{{ i18n('app.password') }}" required type="password">
                                <div class="input-group-append"><div class="input-group-text"><span class="fas fa-lock"></span></div></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-block btn-primary" type="submit">{{ label('app.login.submit') }}</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="row mt-3">
                            <div class="col-6">
                                <a href="{{ constant('APP_ROOT') }}member/forgot">{{ label('app.forgot.title') }}</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="{{ constant('APP_ROOT') }}member/register-form">{{ label('app.register.title') }}</a>
                            </div>
                        </div>
{% endblock %}

{% block script %}
        <script>
            $("form").submit(function () {
                var overlay = $(".overlay-wrapper");

                if (overlay.is(":hidden")) {
                    var data = {};

                    $("form").find("input,select").each(function (ignore, element) {
                        data[element.name] = element.value;
                    });

                    overlay.show();

                    $.ajax({
                        contentType: "application/json",
                        data: JSON.stringify(data),
                        type: "POST",
                        url: "{{ constant('APP_ROOT') }}member/login"
                    }).done(function (response) {
                        if (response.success) {
                            location.replace("{{ result.path }}");
                        } else {
                            toastr.error(response.message || response.error);
                            overlay.hide();
                        }
                    }).fail(function (response) {
                        toastr.error(response.statusText);
                        overlay.hide();
                    });
                }

                return false;
            });
        </script>
{% endblock %}
