{% extends 'backend/response.twig' %}

{% set formId = random() %}

{% block target %}.modal-wrapper{% endblock %}

{% block html %}
    <div class="fade modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ label('app.password.change') }}</h4>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="_{{ formId }}">
                        <div class="form-group">
                            <label>
                                <span class="text-danger">*</span>
                                {{ label('app.password.current') }}
                            </label>
                            <span class="invalid-feedback" data-name="current"></span>
                            <input class="form-control" name="current" type="password">
                        </div>
                        <div class="form-group">
                            <label>
                                <span class="text-danger">*</span>
                                {{ label('app.forgot.password') }}
                            </label>
                            <span class="invalid-feedback" data-name="password"></span>
                            <input class="form-control" name="password" type="password">
                        </div>
                        <div class="form-group">
                            <label>
                                <span class="text-danger">*</span>
                                {{ label('app.forgot.confirm') }}
                            </label>
                            <span class="invalid-feedback" data-name="confirm"></span>
                            <input class="form-control" name="confirm" type="password">
                        </div>
                    </div>
                </div>
                <div class="justify-content-between modal-footer">
                    <button class="btn {{ cfg('app.button.cancel') }}" data-dismiss="modal">{{ label('app.button.cancel') }}</button>
                    <button class="btn {{ cfg('app.button.save') }}" data-ajax="member/change-password" data-form="#_{{ formId }}">{{ label('app.button.save') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postprocess %}
    var modal = $(".modal-wrapper .modal").modal();

    modal.on("hidden.bs.modal", function () {
        modal.remove();
    });

    modal.find("input[name=current]").focus();
{% endblock %}
